<top></top>
<navigation></navigation>

<!-- <ol class="breadcrumb">
  <li class="active">Data</li>
</ol>
 -->

<div class="page-header">
  <h1>Feed</h1>
  <div class="btn-group">
    <a class="btn btn-default" ng-click="changeView()"><i class="fa fa-list fa-3x"></i></a>
    <a class="btn btn-default" ng-click="changeView()"><i class="fa fa-th fa-3x"></i></a>
  </div>
</div>

<div ng-repeat="task in tasks" ng-show="list">
  <a href="#/project/{{task.project}}/{{task.name}}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" ng-bind-template="{{task.name}}, {{task.project}}"></h3>
      </div>
      <div class="panel-body">
        <div ng-bind="task.description"></div>
        <div ng-bind="task.priority"></div>
      </div>
    </div>
  </a>
</div>

<div id="wrapper">
  <masonry column-width="200" ng-hide="list">
    <div class="masonry-brick" ng-repeat="task in tasks">
      <a href="#/project/{{task.project}}/{{task.name}}"><img ng-src="{{task.image}}" class="img-rounded"></a>
      <div ng-bind-template="{{task.name}}, {{task.project}}"></div>
    </div>
  </masonry>
</div>

<!-- <bottom></bottom> -->
