<top></top>
<navigation></navigation>

<h2>{{name}}</h2>

<div ng-repeat="task in tasks">
  <a href="#/project/{{task.project}}/{{task.name}}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" ng-bind-template="{{task.name}}, {{task.project}}"></h3>
      </div>
      <div class="panel-body">
        <div ng-bind="task.description"></div>
        <div ng-bind="task.priority"></div>
      </div>
    </div>
  </a>
</div>
<!-- <bottom></bottom> -->
