<top></top>
<navigation></navigation>

<h2>{{project}}, {{task}}</h2>

<div ng-repeat="post in posts">
  <p>{{post.comment}}</p>

  <div ng-show="post.image">
    <img ng-src="{{post.image}}" class="img-rounded">
    <a href="#/project/{{project}}/{{task}}/{{post.id}}"><i class="fa fa-cog"></i>Edit</a>
  </div>
</a>



  <!-- <post value="tasks" /> -->
</div>

<p>comment</p>
<a class="btn btn-danger" href="#">
  <i class="fa fa-trash-o fa-lg"></i> Delete</a>
<a class="btn btn-default btn-sm" href="#">
  <i class="fa fa-cog"></i> Settings</a>

<!-- <bottom></bottom> -->
